<h1>Jogadores</h1>

<form action="/jogadores/{{#if action }}save{{else}}create{{/if}}" method="post">

    <input type="hidden" name="id" value="{{jogadores_editing.id}}">

    <label for="name">Name</label><br>

    <input type="text" id="name" name="name" value="{{jogadores_editing.name}}" required><br><br>

    <label for="age">Age</label><br>

    <input type="number" id="age" name="age" value="{{jogadores_editing.age}}" required><br><br>

    <button>{{#if action }}Editar{{else}}Criar{{/if}}</button>

</form>

<hr>

<table>

    <thead>

        <tr>

            <th>Name</th>

            <th>Age</th>

            <th>Ações</th>

        </tr>

    </thead>

    <tbody>

        {{#each jogadores}}

        <tr>

            <td>{{this.name}}</td>

            <td>{{this.age}}</td>

            <td style="display: flex; justify-content: space-evenly;">

                <form action="/jogadores/edit" method="post">

                    <input type="hidden" name="id" value="{{this.id}}">

                    <button>Edit</button>

                </form>

                <form action="/jogadores/delete" method="post">

                    <input type="hidden" name="id" value="{{this.id}}">

                    <button>Del</button>

                </form>

            </td>

        </tr>

        {{/each}}

    </tbody>

</table>
